.video {
  max-width: 420px;
  margin-bottom: 3rem;
}

.videoContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding: 0 5rem;
}

.videoSubtitle {
  margin-bottom: 0.8rem;
  display: -webkit-box;
  min-height: 50px;
  max-height: 50px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.videoTitle {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

@media only screen and (max-width: 600px) {
  .videoContainer {
    padding: 0 2rem;
  }

  .video {
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  iframe {
    max-width: 100%;
  }
}
