.photo {
  background-image: url("../../media/cover.jpg");
  background-position: 0% 20%;
  background-size: cover;
  border-radius: 8px;
  height: 40rem;
  margin-top: 3rem;
  width: 100%;
}

.container {
  padding: 0 5rem;
}

.modalContent {
  margin: auto;
  width: 70%;
  text-align: center;
}

.title {
  font-size: 5vh;
  padding-top: 5rem;
}

.messageContainer {
  display: flex;
  margin-top: 2rem;
}

.message {
  font-size: 2vh;
  margin-right: 3rem;
  margin-top: 3rem;
}

.iframe {
  width: 25vw;
  height: 30vh;
}

.title,
.message {
  color: white;
}

@media only screen and (max-width: 1200px) {
  .messageContainer {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    min-height: 70rem;
    padding: 0 2rem;
  }

  .modalContent {
    width: 80%;
  }

  .title {
    font-size: 2rem;
  }

  .message {
    font-size: 1rem;
    margin-right: 0;
  }
}
