.photo {
  background-image: url("../../media/lake.jpg");
  background-position: 0% 50%;
  background-size: cover;
  border-radius: 8px;
  height: 40rem;
  margin-top: 3rem;
  width: 100%;
}

.container {
  padding: 0 5rem;
}

.modalContent {
  margin: auto;
  width: 60%;
  text-align: center;
}

.title {
  font-size: 4rem;
  padding-top: 3rem;
}

.message {
  font-size: 1.4rem;
  margin-top: 2rem;
}

.title,
.message {
  color: white;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 2rem;
  }

  .modalContent {
    width: 80%;
  }

  .title {
    font-size: 2rem;
  }

  .message {
    font-size: 1rem;
  }
}
