.mainHeader {
  border-bottom: 1px #e6ecf0 solid;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 5rem;
}

.logo {
  position: relative;
  top: 0.3rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.navLinkContainer {
  display: flex;
}

/* RAY_DEEP: '#657786',
  GRAY_MEDIUM: '#aab8c2',
  GRAY_LIGHT: '#ccd6dd',
  GRAY_FADED: '#e6ecf0',
  GRAY_FAINT: '#f5f8fa', */

.navLinkContainer {
  align-items: center;
}

.navLink {
  font-weight: bold;
  margin-left: 2rem;
  text-decoration: none;
}

.title,
.navLink {
  color: black;
}

.activeNavLink {
  border-bottom: 1px black solid;
}

@media only screen and (max-width: 600px) {
  .mainHeader {
    padding: 0.8rem 2rem;
  }
}
