.mainHeader {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 3rem;
}

.logo {
  position: relative;
  top: 0.3rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.navLinkContainer {
  display: flex;
}

/* RAY_DEEP: '#657786',
  GRAY_MEDIUM: '#aab8c2',
  GRAY_LIGHT: '#ccd6dd',
  GRAY_FADED: '#e6ecf0',
  GRAY_FAINT: '#f5f8fa', */

.navLinkContainer {
  align-items: center;
}
.navLink {
  font-weight: bold;
  margin-left: 2rem;
  text-decoration: none;
}

.title,
.navLink {
  color: white;
}
